.result {
  flex: 1;
  overflow: auto;
}

.auditBar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.auditStateBarRecord {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.statusBadge {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  background-color: var(--kendo-color-light);  
  border-radius: 0.5rem;
  
}

.isVulnerable {
  color: var(--kendo-color-error);
  border: 1px solid var(--kendo-color-error);
}

.isSecure {
  color: var(--kendo-color-success);
  border: 1px solid var(--kendo-color-success);
}