.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
}

.form {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
  padding: 1.5rem;
}

.optionsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 300px;
}

.resultContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
